.article-container{
max-width:800px;
margin:auto;
padding:40px;
font-family:Poppins;
}

.back-btn{
background:none;
border:none;
cursor:pointer;
margin-bottom:20px;
font-size:16px;
}

.article-image{
width:100%;
border-radius:10px;
margin:20px 0;
}

.article-meta{
color:gray;
margin-bottom:10px;
}

.article-container p{
line-height:1.8;
margin-bottom:15px;
}


.share{
margin-top:40px;
}

.share button{
margin-right:10px;
padding:8px 15px;
border:none;
background:#f3f3f3;
border-radius:6px;
cursor:pointer;
}


.author-box{
display:flex;
gap:15px;
margin-top:40px;
padding:20px;
background:#f8f8f8;
border-radius:10px;
}

.author-avatar{
width:50px;
height:50px;
background:#ddd;
border-radius:50%;
}


.related-title{
margin-top:40px;
margin-bottom:15px;
}

.related{
display:flex;
gap:20px;
}

.related-card{
cursor:pointer;
width:30%;
}

.related-card img{
width:100%;
border-radius:8px;
}

.related-card h4{
font-size:14px;
margin-top:8px;
}